body
{
    margin: 0;
    padding: 0;
    background: #eaece0;
    font-family: Arial,Sans-Serif,Monospace,Verdana;
    font-size: 12px;
}


img {
    border:none;
}

/*************************************
        Footer
**************************************/
.footer
{
    font-family:Arial,Sans-Serif,Monospace,Verdana;
    font-size:12px;

}
.footer a
{
    font-family:Arial,Sans-Serif,Monospace,Verdana;
    font-size:12px;
    color:#3366cc;
}
.footer a:link,.footer a:active,.footer a:visited
{
    text-decoration:none;
}
.footer a:hover
{
    text-decoration:underline;
}

/***************************/

/**********************/
hr
{
    border-top: 1px dotted #3a477a;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin: 0;
}
/*************/
/*********/
a
{
    font-family: Arial,Sans-Serif,Monospace,Verdana;
    font-size: 12px;
    color: blue;
}
a:link, a:active, a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
/**********/
/**********/

/*----------------------------------------------------------------------------------
        GLOBAL STYLINGS :: BUTTONS
----------------------------------------------------------------------------------*/


a.blue, button.blue, input.blue
{
    background: #bbdcf9;
    color: #222;
    padding: 3px 30px;
    background: -moz-linear-gradient(top,#bbdcf9 0%,#9ab5ec);
    /*       background: -moz-linear-gradient(top,url(images/buttonbg.png) repeat-x 0%,url(images/buttonbgHover.png) repeat-x);*/
    background: -webkit-gradient(linear, left top, left bottom, from(#bbdcf9),to(#9ab5ec));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #3079ed;
    -moz-box-shadow: -1px 2px 2px rgba(10,10,10,0), inset 0px 0px 1px rgba(255,255,255,0);
    -webkit-box-shadow: -1px 2px 2px rgba(10,10,10,0), inset 0px 0px 1px rgba(255,255,255,0);
    text-shadow: 0px 1px 0px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,0);
}

a.blue:hover, button.blue:hover, input.blue:hover
{

    background: -moz-linear-gradient(top,#d9e7f1 0%,#eff8fe);
    background: -webkit-gradient(linear, left top, left bottom, from(#d9e7f1),to(#eff8fe));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #3079ed;
    -moz-box-shadow: -1px 2px 2px rgba(10,10,10,0.1), inset 0px 0px 1px rgba(255,255,255,0);
    -webkit-box-shadow: -1px 2px 2px rgba(10,10,10,0.1), inset 0px 0px 1px rgba(255,255,255,0);
    text-shadow: 0px 1px 0px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,0);
}

a.blue:active, button.blue:active, input.blue:active
{
    background: -moz-linear-gradient(top,#3a477a 0%,#9ab5ec);
    background: -webkit-gradient(linear, left top, left bottom, from(#3a477a),to(#9ab5ec));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #3079ed;
    -moz-box-shadow: -1px 2px 2px rgba(10,10,10,0), inset 0px 0px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: -1px 2px 2px rgba(10,10,10,0), inset 0px 0px 1px rgba(0,0,0,0.3);
    text-shadow: 0px 1px 0px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,0);
}

/*----------------------------------------------------------------------------------
        GLOBAL STYLINGS :: TABLE STYLINGS  :: STYLED
----------------------------------------------------------------------------------*/
table.styled
{
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
    border: solid 1px #ccc;

}

.styled tr th
{
    background: -moz-linear-gradient(top,#bbdcf9 0%,#9ab5ec);
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: left;
}

.styled tr td, .styled tr th
{
    line-height: 17px;
    padding: 8px 5px 8px 10px;
    vertical-align: middle;
}

.styled tr td
{
    background-color: #fff;
}
.styled tr.alt td
{
    background-color: #f0f8ff;
}
fieldset
{
    padding-right: 20px;
}
table.box,table.box td
{
    padding: 6px;

}
.txtStyle
{
    border: 1px solid;   

}
.ta
{
    max-width: 400px;
    min-width: 400px;

}